%li.article{ :id => "article_#{article.id}", :class => cycle(:odd, :even) }
  = form_for(new_item, :remote => true) do |f|
    .articleQuantity
      = f.text_field :quantity, :value => 1, :size => 2
    .articleName
      = article.name
      = f.hidden_field :article_id, :value => article.id
      = f.hidden_field :list_id, :value => @list.id
    .actions
      = f.submit t('application.actions.add_to_list')
