.hBox
  #listEditForm
    = form_for(@list, :html => {:class => "vBox"}) do |f|
      - if @list.errors.any?
        #errorExplanation
          %h2= "#{pluralize(@list.errors.count, 'error')} prohibited this user from being saved:"
          %ul
          - @list.errors.full_messages.each do |msg|
            %li= msg
     
      .field
        = f.label :name, :class => "title"
        %br
        .actions
          = f.text_field :name, :id => :name
          = f.submit t('application.actions.save')
      - unless @list.new_record?
        = render :partial => 'lists/items'

  - unless @list.new_record?
    #listEditArticles.vBox
      .title= t('lists.edit.articles')
      = form_tag(search_articles_path, :method => :get, :remote => true) do
        = t('search')
        = text_field_tag :query
        = submit_tag t('search')
      #availableArticles
        %ul#articleList
          = render :partial => "articles/article", :collection => @articles
          
      %hr
      #newArticle
        %h3= t('articles.new.title')
        = form_for(@article, :remote => true) do |af|
          .field
            = af.label :name
            %br
            = af.text_field :name
            = hidden_field_tag :list_id, @list.id
            = af.submit 
