#listEditForm
  = form_for(@list, :html => {:class => "vBox"}) do |f|
    = render :partial => 'lists/errors'
    
    .field
      = f.label :name, :class => "title"
      %br
      .actions
        = f.text_field :name, :id => :name
        = f.submit t('application.actions.save')
