#listForm
  = form_for(@list, :html => {:class => "vBox"}) do |f|
    = render :partial => 'shared/errors', :locals => { :object => @list }
    
    .field
      = f.label :name, t('.new'), :class => :small
      %br
      = f.text_field :name, :id => :name
      %span.actions
        = f.submit t('application.actions.save')
