%li{ :id => "item_#{ item.id }"}
  .listItem
    %label.articleName= item.article.name
    %small.counter= "$ #{item.price}"
    .newPrice
      %input{ :type => 'text', :name => "new_price[#{item.article.id}]"}
      =link_to 'x', list_item_path(@list, item), :method => :delete, :remote => true
