%li.listItem{ :id => "item_#{ item.id }", :class => cycle(:even, :odd)}

  %span.itemQuantity{ :'data-type' => :item_quantity }
    = item.quantity
  %span.articleName{ :title => item.article.name }
    = truncate(item.article.name, :length => 37)
  %small.counter{ :id => "item_#{item.id}_price_label" }
    = number_to_currency(item.article.last_price.to_f / 100)
  %span.newArticle
    .priceForm
      %input{ :type => :text, :name => "item[price]", :id => "item_#{item.id}_price" }
      %input{ :type => :button, :value => t('application.actions.save'), :'data-item' => item.id, :'data-list' => @list.id}
      %a.cancelPriceUpdate{ :href => "#" }= t('application.actions.cancel')
    %a.mini.setPrice{ :href => "#" }
      .tiny
        = t('application.actions.add')
      .tiny
        = t('.price')
    =link_to 'x', list_item_path(@list, item), :method => :delete, :remote => true, :class => "cancelButton"
