.listDetailContainer{ :class => cycle('even', 'odd') }
  .listName= "#{list.name} - #{list.created_at.to_date}"
  .listActions
    .actionHeader
      =form_tag clone_list_path(list), :class => "listCloneForm" do
        = submit_tag '', {:class => "cloneButton", :id => "clone_list_#{list.id}"}
    .actionHeader
      = link_to '', edit_list_path(list), :class => :editButton
    .actionHeader.last
      = link_to '', list, :confirm => t('are_you_sure'), :method => :delete, :id => "remove_list_#{list.id}", :class => :deleteButton

