.pageTitle
  %h3.inline.sectionTitle= t '.title', :name => @list.name
#editListFormContainer.contentWrapper
  = render 'form'
  .hBox
    - unless @list.new_record?
      = render :partial => 'lists/items'
      = render :partial => 'lists/available_articles'

  = render :partial => 'articles/search_form'

