- content_for :title do
  = t '.title', :name => @list.name

- form_for(@list) do |f|
  %label
    %span= t '.rename.new_name'
    = f.text_field :name

  %div.buttons
    %button#create-list{ :type => :submit }= t '.buttons.rename'
    %a.button.cancel{ :href => lists_path }= t '.buttons.cancel'

- form_for(@list, :url => empty_list_path(@list), :html => { :method => :delete }) do |f|
  %p= t '.empty.note', :name => @list.name
  %div.buttons
    %button#clear-list.cancel{ :type => :submit }= t '.buttons.empty'


- form_for(@list, :url => { :action => :destroy }, :html => { :method => :delete }) do |f|
  %p= t '.destroy.note', :name => @list.name
  %p= t '.warning.undone'
  %div.buttons
    %button#delete-list.cancel{ :type => :submit }= t '.buttons.destroy'
