- content_for :title do
  = t '.title'

- form_for(@list) do |f|
  %label
    %span= List.human_attribute_name(:name)
    = f.text_field :name

  %div.buttons
    %button#create-list{ :type => :submit }= t '.buttons.create'
    %a.button.cancel{ :href => lists_path }= t '.buttons.cancel'
