#articleForm
  = form_for(@article) do |f|
    = render :partial => 'shared/errors', :locals => { :object => @article }
    
    .field
      = f.label :name, :class => "title"
      %br
      = f.text_field :name, :id => :name
      $ 
      = f.text_field :last_price, :id => :price, :class => :price, :value => @article.last_price.to_f / 100
      %span.actions
        = f.submit t('application.actions.save')
        = link_to t('application.actions.cancel'), root_path, :class => "button cancel"
