#articleSearchFormContainer.hBox
  = form_tag(search_articles_path, :method => :get, :remote => true) do
    = text_field_tag :query, nil, :placeholder => t('application.messages.query_placeholder')
    = hidden_field_tag :list_id, @list.id
    = submit_tag t('application.actions.search')
    = link_to t('application.actions.view_all'), "/articles/search?list_id=#{@list.id}&query=", :remote => true, :class => "button"
