.pageTitle
  %h3.inline.sectionTitle= t('.title')
  %span#newList.actions
    = link_to image_tag('add.png', :alt => t('.new'), :title => t('.new')), new_article_path
    = link_to t('.new'), new_article_path

#articlesContainer  
  %table#articlesList{ :cellspacing => 0 }
    %tbody
      - for article in @articles
        %tr{ :class => cycle(:odd, :even) }
          %td.wide= article.name
          %td.action= link_to image_tag('edit.png', :alt => t('edit'), :title => t('edit')), edit_article_path(article)
          %td.action= link_to image_tag('delete.png', :alt => t('destroy'), :title => t('destroy')), article, :confirm => t('are_you_sure'), :method => :delete, :id => "remove_article_#{article.id}"
