.pageTitle
  %h3.sectionTitle
    = t('.title')
    &nbsp;
    = link_to t('.new'), new_article_path, :class => :button

#articlesContainer  
  %table#articlesList.appList{ :cellspacing => 0 }
    %tbody
      - for article in @articles
        %tr{ :class => cycle(:odd, :even) }
          %td.wide= article.name
          %td.action= link_to image_tag('edit.png', :alt => t('edit'), :title => t('edit')), edit_article_path(article)
          %td.action= link_to image_tag('delete.png', :alt => t('destroy'), :title => t('destroy')), article, :confirm => t('are_you_sure'), :method => :delete, :id => "remove_article_#{article.id}"
