- title = content_for?(:title) && content_for(:title) || t('.title')

!!!
%html
  %head
    %title= t('application.name')
    %meta{ :name => "viewport", :content => "user-scalable=no, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" }
    %meta{ :name => "apple-mobile-web-app-capable", :content => "yes" }
    %meta{ :name => "apple-mobile-web-app-status-bar-style", :content => "black" }
    = stylesheet_link_tag "mobile"
    = csrf_meta_tag
  %body
    %h1= title

    - unless flash.empty?
      %ul#flash
        - flash.each do |name, msg|
          %li{ :id => "flash-#{name}" }= msg

    = yield

    %footer
      - if content_for? :footer
        = content_for :footer

      %nav
        - if content_for? :nav
          = content_for :nav
        - if current_user
          = link_to t(".logout"), logout_path, :id => :logout
