!!!
%html
  %head
    %title ShopList
    = stylesheet_link_tag "shop_list"
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    =render :partial => "layouts/no_ie"
    #header
      = render :partial => "layouts/header"
      = render :partial => "shared/user_menu", :locals => {:user => current_user}

    #menu
      = render :partial => "shared/menu"
   
    #flashNotice
      = flash[:notice]
    #flashWarning
      = flash[:warning]
    #flashError
      = flash[:error]

    #content
      = yield

    #footer
      = render :partial => "layouts/footer"
