!!!
%html
  %head
    %title= t("application.name")
    %link{ :href => 'http://fonts.googleapis.com/css?family=Lobster', :rel => 'stylesheet', :type => 'text/css' } 
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag "shop_list"
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

    = javascript_include_tag :defaults
    = javascript_include_tag 'jquery.lightbox_me.js'
    = csrf_meta_tag

  %body
    #topBar
      .container
        = render :partial => "shared/user_menu", :locals => {:user => current_user}
        %form.inline{ :action => "/#{request.params[:controller]}/search", :method => :get, :'data-remote' => true }
          %label
            = t('.search')
            = text_field_tag :query


    .contentWrapper
      .container
        =render :partial => "layouts/no_ie"

        #header
          = render :partial => "layouts/header"



        #content
          = render :partial => 'shared/flash', :locals => { :flash => flash}
          = yield

    #footer
      = render :partial => "layouts/footer"
